<!-- This is a new xbot cruise program modified by Rocwang. -->

<launch>
	<!-- launch xbot_bringup -->
	<!-- <include file="$(find xbot_bringup)/launch/xbot_minimal.launch">
	</include> -->

	<!-- ORB Visual SLAM2  -->
	<!-- node name = "orbmono" pkg = "ORB_SLAM2" type = "Mono"  args = "$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2)/Asus.yaml"/ -->

	<!-- launch amcl -->
	<include file="$(find xbot_cruise)/launch/include/xbot_amcl.launch">
	</include>

	<!-- launch robot_controller -->
	<include file="$(find xbot_cruise)/launch/include/xbot_controller_cruise.launch">
	</include>


	<!-- launch RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find xbot_cruise)/rviz/xbot.rviz" />


</launch>



<!-- rosrun xbot_cruise init_pose_handle.py (for real) -->
