



<launch>
	<!-- launch xbot_bringup -->
	<include file="$(find xbot_bringup)/launch/xbot_minimal.launch">
	
	</include>

	<!-- launch amcl -->
	<include file="$(find machine)/launch/asus_robot_amcl.launch">
	
	</include>

	<!-- launch robot_controller -->
	<include file="$(find machine)/launch/robot_controller_cruise.launch">
	
	</include>

	<!-- launch ui_marker -->
	<include file="$(find marker)/launch/ui_marker.launch">
	
	</include>

	<!-- launch ui_marker -->
	<include file="$(find machine)/launch/3D_RVIZ.launch">
	
	</include>

</launch>